<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<div class="container" style="text-align: center; margin-top: 20px; margin-top: 50px;">
  <div class="row">
    <div class="col-md-12">
      <img [src]="logo" alt="PatentLabBR" style="height: 60px;" />
    </div>
    <div class="col-md-12">
      <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 8px;">Version 0.15.03.20</span>
  </div>

<router-outlet />
